{% load static %}
<html>
    <head>
        <title>Hamza's Site</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Hamza's Site</a></h1>
        </div>
        <div class="topnav">
            <a href="/blog/">Blog Posts</a>
            <a href="/my_cv/">My CV</a>
        </div>
        <div class="content container">
            <p>Welcome to my site. On this site you can view my blog posts, view my CV, or make your own CV</p>
        </div>
    </body>
</html>